@model WEBAPP_NATURPIURA.Models1.Usuario

@{
    ViewData["Title"] = "Recuperar Contraseña :: ";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>



<body>

<br />
<h4 class="justify-content-center" style="color:white;margin-left:6%">Recuperar Cuenta</h4>

<hr />

<div class="row justify-content-center ">
    <div class="col-md-6 mt-4">
        <form asp-action="Recuperar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div hidden>
                <div class="form-group col-6">
                    <label asp-for="Nombres" class="control-label font-weight-bold"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Apellidos" class="control-label font-weight-bold"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Correo" class="control-label font-weight-bold"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <input asp-for="IdRol" class="form-control" value="2" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="TipoDocumento" class="control-label font-weight-bold"></label>
                    <select class="form-control form-control-sm model" asp-for="TipoDocumento">
                        <option value="DNI">DNI</option>
                        <option value="Carnet Extranjeria">Carnet Extranjeria</option>
                        <option value="RUC">RUC</option>
                    </select>
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="NumeroDocumento" class="control-label font-weight-bold"></label>
                    <input asp-for="NumeroDocumento" class="form-control" />
                    <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                </div>
               
                <div class="form-group col-6">
                    <label asp-for="Telefono" class="control-label font-weight-bold"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Activo" class="control-label font-weight-bold"></label>
                    <select class="form-control form-control-sm model" asp-for="Activo">
                        <option value="True">Activo</option>
                        <option value="False">No Activo</option>
                    </select>
                    <span asp-validation-for="Activo" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="FechaRegistro" class="control-label font-weight-bold"></label>
                    <input asp-for="FechaRegistro"/>
                    <span asp-validation-for="Activo" class="text-danger"></span>
                </div>
            </div>
            
             <div class="form-group col-6">
                <label asp-for="Clave" class="control-label text-light">Nueva contraseña</label>
                <input asp-for="Clave" class="form-control" type="password" placeholder="Ingrese su nueva contraseña" value="" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
          
            <div style="margin-left:3%" class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-info btn-lg mt-5" />
            </div>
        </form>
    </div>
   <div class="row justify-content-right ">
    <img  width="62%" height="60%"  src="~/vector-users-icon.jpg" style="border-radius: 50%; margin-top:80px;" />
    </div>
</div>


</body>